name: Docker Tests

on:
  workflow_call:

jobs:
  build-reason-torch26:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build reason-torch2.6
        uses: docker/build-push-action@v6
        with:
          context: ./docker/torch-2.6
          push: false
          build-args: |
           BUILD_TARGET=reason
           NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:reason

  build-embodied-torch26:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-torch2.6
        uses: docker/build-push-action@v6
        with:
          context: ./docker/torch-2.6
          push: false
          build-args: |
            BUILD_TARGET=embodied
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied

  build-embodied-behavior-torch26:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize storage space
        run: |
          # Remove Java (JDKs)
          sudo rm -rf /usr/lib/jvm
  
          # Remove .NET SDKs
          sudo rm -rf /usr/share/dotnet
  
          # Remove Swift toolchain
          sudo rm -rf /usr/share/swift
  
          # Remove Haskell (GHC)
          sudo rm -rf /usr/local/.ghcup
  
          # Remove Julia
          sudo rm -rf /usr/local/julia*
  
          # Remove Android SDKs
          sudo rm -rf /usr/local/lib/android
  
          # Remove Chromium (optional if not using for browser tests)
          sudo rm -rf /usr/local/share/chromium
  
          # Remove Microsoft/Edge and Google Chrome builds
          sudo rm -rf /opt/microsoft /opt/google
  
          # Remove Azure CLI
          sudo rm -rf /opt/az
  
          # Remove PowerShell
          sudo rm -rf /usr/local/share/powershell
  
          # Remove CodeQL and other toolcaches
          sudo rm -rf /opt/hostedtoolcache
  
          docker system prune -af || true
          docker builder prune -af || true
          df -h

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build embodied-behavior
        uses: docker/build-push-action@v6
        with:
          context: ./docker/torch-2.6
          push: false
          build-args: |
            BUILD_TARGET=embodied-behavior
            NO_MIRROR=true
          outputs: type=cacheonly
          tags: rlinf:embodied-behavior
